* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
html {
  font-size: 14;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  text-align: center;
  height: 10vh;
}
section {
  display: flex;
  height: 85vh;
}
section #pingan_tm_leftpanel {
  width: 70%;
  padding: 20px;
  border: 1px solid black;
  overflow: scroll;
  /* #pingan_tm_canvas {
			width: 100%;
		} */
}
section #pingan_tm_leftpanel #pingan_tm_imgcontainer {
  width: 100%;
  border: 1px solid black;
  position: relative;
}
section #pingan_tm_leftpanel #pingan_tm_img {
  width: 100%;
  z-index: 1;
}
section #pingan_tm_leftpanel #pingan_tm_imgmarker {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
section #pingan_tm_leftpanel .pingan-tm-selecthover:hover {
  animation: selectEffect 1s infinite;
}
section #pingan_tm_rightpanel {
  border: 1px solid black;
  width: 30%;
  padding: 20px;
}
section #pingan_tm_rightpanel .pingan-tm-title {
  text-align: center;
  margin-bottom: 1rem;
}
section #pingan_tm_rightpanel #pingan_tm_rightpanel_detaillist table {
  border-collapse: collapse;
  width: 100%;
}
section #pingan_tm_rightpanel #pingan_tm_rightpanel_detaillist table td {
  width: 50%;
  padding: .5rem;
  border: 1px solid grey;
}
section #pingan_tm_rightpanel #pingan_tm_rightpanel_detaillist table td:first-child {
  color: blue;
}
section #pingan_tm_rightpanel #pingan_tm_rightpanel_detaillist table td:hover {
  cursor: pointer;
}
section #pingan_tm_rightpanel #pingan_tm_rightpanel_editor {
  display: none;
}
section #pingan_tm_rightpanel form.pingan-tm-form > label {
  display: block;
}
section #pingan_tm_rightpanel label {
  margin-bottom: .7rem;
}
section #pingan_tm_rightpanel input.pingan-tm-input,
section #pingan_tm_rightpanel textarea,
section #pingan_tm_rightpanel select {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}
section #pingan_tm_rightpanel textarea {
  resize: none;
}
section #pingan_tm_rightpanel select {
  height: 2rem;
}
section #pingan_tm_rightpanel #pingan_tm_form_buttongroup {
  margin-top: 1rem;
  text-align: center;
}
footer {
  text-align: center;
  height: 5vh;
}
.pingan-tm-btn-radio-group {
  text-align: center;
}
.pingan-tm-btn-radio-group label {
  display: inline-block;
  font-weight: 400;
  width: 5.5rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #6c757d;
  border-color: #6c757d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.2rem 0.75rem;
  width: 5rem;
  text-align: center;
}
.pingan-tm-btn-radio-group label input {
  display: none;
}
.pingan-tm-btn-radio-group label:first-child {
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pingan-tm-btn-radio-group label:last-child {
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pingan-btn {
  display: inline-block;
  font-weight: 400;
  width: 5.5rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #6c757d;
  border-color: #6c757d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pingan-btn.pingan-btn-select {
  background-color: #007bff;
  border-color: #007bff;
}
.pingan-btn:hover {
  cursor: pointer;
}
.pingan-btn-cancel {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.pingan-btn-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
@keyframes selectEffect {
  0% {
    stroke-opacity: 1;
    fill-opacity: 0.2;
  }
  50% {
    stroke-opacity: 0.5;
    fill-opacity: 0.1;
  }
  100% {
    stroke-opacity: 1;
    fill-opacity: 0.2;
  }
}
